---
import { Icon } from 'astro-icon';
import { t } from 'i18next';

import Container from '@components/layout/Container.astro';

const features = [
	{
		title: t('$.bookkeeping.accounting.title'),
		description: t('$.bookkeeping.accounting.description'),
		icon: 'mdi:calculator-variant-outline',
	},
	{
		title: t('$.bookkeeping.tax_records.title'),
		description: t('$.bookkeeping.tax_records.description'),
		icon: 'mdi:calculator',
	},
	{
		title: t('$.bookkeeping.payroll_hr.title'),
		description: t('$.bookkeeping.payroll_hr.description'),
		icon: 'mdi:human-queue',
	},
	{
		title: t('$.bookkeeping.advice.title'),
		description: t('$.bookkeeping.advice.description'),
		icon: 'mdi:hand-coin',
	},
	{
		title: t('$.bookkeeping.grant.title'),
		description: t('$.bookkeeping.grant.description'),
		icon: 'mdi:finance',
	},
	{
		title: t('$.bookkeeping.other.title'),
		description: t('$.bookkeeping.other.description'),
		icon: 'mdi:human-handsup',
	},
];
---

<div id="bookkeeping">
	<Container class="py-12 md:py-16 border-b border-slate-200">
		<h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-center text-primary">
			{t('$.bookkeeping.title')}
		</h2>

		<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-12 gap-8">
			{
				features.map((item: any) => (
					<div class="from-bottom flex gap-4 items-center text-gray-800">
						<div class="bg-primary rounded-full p-2 w-12 shrink-0">
							<Icon class="text-white" name={item.icon} />
						</div>
						<div>
							<h3 class="font-semibold text-lg">{item.title}</h3>
							<p>{item.description}</p>
						</div>
					</div>
				))
			}
		</div>
	</Container>
</div>
