---
import { Icon } from 'astro-icon';
import { t } from 'i18next';

import Container from '@components/layout/Container.astro';

const features = [
	{
		title: t('$.grant.items.0'),
		icon: 'clarity:success-line',
	},
	{
		title: t('$.grant.items.1'),
		icon: 'clarity:success-line',
	},
	{
		title: t('$.grant.items.2'),
		icon: 'clarity:success-line',
	},
	{
		title: t('$.grant.items.3'),
		icon: 'clarity:success-line',
	},
];
---

<div id="about">
	<Container class="py-12 md:py-16 border-b border-slate-200">
		<div class="grid sm:grid-cols-2 mt-12 gap-8">
			{
				features.map((item: any) => (
					<div class="from-bottom flex gap-4 items-center text-gray-800">
						<div class="bg-primary rounded-full p-2 w-10 shrink-0">
							<Icon class="text-white" name={item.icon} />
						</div>
						<div>
							<h3 class="font-semibold text-lg">{item.title}</h3>{' '}
						</div>
					</div>
				))
			}
		</div>
	</Container>
</div>
